@charset "UTF-8";
/***** START FLEX METHODS *****/
/***** END FLEX METHODS *****/
/***** START TRANSITIION *****/
/***** END TRANSITIION *****/
/* line 48, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  font-size: 100%;
  box-sizing: border-box;
}

/* line 56, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
main {
  float: left;
}

/* line 60, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
ul {
  list-style-type: none;
}

/* line 64, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
header {
  margin-bottom: 50px;
}

/* line 68, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
article, aside, details, figcaption, figure, footer, header, main, nav, section {
  display: block;
}

/******************* TEST CSS using COLORS *******************/
/* line 71, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.blue {
  background-color: blue;
}

/* line 72, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.red {
  background-color: red;
}

/* line 73, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.panel {
  background-color: purple;
}

/* line 74, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
aside {
  background-color: red;
}

/******  START HEADER   ******/
/* line 77, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
#h-logo:hover {
  animation-name: rotation;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -webkit-transform: rotate(360deg);
    /* Chrome, Safari, Opera */
    transform: rotate(360deg);
  }
}

/* line 99, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
#h-banner {
  display: none;
}

/* line 104, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
header nav {
  background-color: #f49a02;
  float: right;
  width: 85%;
  padding: 0.5rem;
  min-width: 640px;
}

/* line 111, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
header nav #nav-menu {
  display: flex;
  width: 100%;
  height: 40px;
}

/* line 116, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
header nav #nav-menu li {
  margin: auto 5px;
}

/* line 119, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
header nav #nav-menu li input {
  width: 135px;
}

/* line 125, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
header nav #nav-menu #h-login {
  display: flex;
}

@keyframes disparition {
  /*etat initial = img visible a 100%*/
  0% {
    opacity: 1;
    border: 5px solid red;
  }
  /*a la moitie de la duree de l'animation  = img disparait a 100%*/
  50% {
    opacity: 0;
    border: 5px solid yellow;
  }
  /*a la fin de l'animation = img visible a 100%*/
  100% {
    opacity: 1;
    border: 5px solid blue;
  }
}

/* line 152, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.menu-nav {
  display: block;
}

/* line 156, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
#search-bars {
  margin-left: 2rem;
}

/* line 159, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
#search-bars .bar {
  width: 80%;
  height: 35px;
  margin-top: 10px;
}

/* line 165, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
#search-bars .bar-list {
  position: relative;
  left: 30px;
  bottom: 15px;
}

/* line 171, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
#search-bars > input[type="image"] {
  position: absolute;
}

/******  END HEADER   ******/
/******  START FORM CSS   ******/
/**************************************NAV************************************************************************************/
/***** CHANGES *****/
/* line 181, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
#logoForm {
  width: 50px;
  height: 50px;
}

/* line 186, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.mobile-nav {
  margin: 2% 0 2% 0;
  background-color: orange;
  padding: 2%;
  border-radius: 5px;
}

/* line 193, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.menu-btn span {
  width: 50px;
  height: 3px;
  display: block;
  background-color: white;
  margin: 8px;
}

/*margin among lines*/
/* line 202, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.formWrapper > ul > li,
.formWrapper > h1,
.payWrapper > ul > li,
.payWrapper > ul > li > ul > li {
  margin: 2% 0 2% 0;
}

/* line 209, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.formWrapper > ul > li > label,
.formWrapper > ul > li > p,
.formWrapper > ul > li > span,
.payWrapper > ul > li {
  font-weight: bold;
}

/*********PAYMENT**********/
/* line 218, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.payWrapper img {
  width: 25px;
  height: 25px;
}

/* line 223, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.payWrapper > ul > li > p:last-child {
  font-size: 1.2rem;
}

/* line 228, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
footer ul:first-child {
  list-style-type: disc;
}

/****** END FORM CSS   ******/
/*---------- ***** START CAROUSEL ***** ----------*/
/* line 234, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
#overflow {
  overflow: hidden;
  /*permet de cacher les 4 autres diapositives qui dépassent*/
  width: calc(17.5rem  + ( 2 * 0.3rem));
  margin: auto;
}

/* line 240, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
#slider {
  /*On cache les inputs*/
}

/* line 242, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
#slider input[type="radio"] {
  display: none;
}

/* line 246, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
#slider #slides {
  margin: 1rem 0px;
  /*La div inner a la somme des largeurs des 5 diapositives (500%).*/
}

/* line 250, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
#slider #slides .inner {
  width: calc(17.5rem*7 +  (14* 0.3rem));
  margin: 0 auto;
  /* Transition sur div .inner pour défiler les diapositives en une seconde*/
  -webkit-transition: margin-left, 1s, ease-in-out;
  -o-transition: margin-left, 1s, ease-in-out;
  transition: margin-left, 1s, ease-in-out;
}

/* line 259, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
#slider #slide1:checked ~ #slides .inner {
  margin-left: 0;
}

/* line 263, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
#slider #slide2:checked ~ #slides .inner {
  margin-left: calc(-1 * 17.5rem + (2* 0.3rem));
}

/* line 267, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
#slider #slide3:checked ~ #slides .inner {
  margin-left: calc(-1 * (17.5rem * 2  + (4* 0.3rem)));
}

/* line 271, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
#slider #slide4:checked ~ #slides .inner {
  margin-left: calc(-1 * (17.5rem * 3  + (6* 0.3rem)));
}

/* line 275, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
#slider #active {
  text-align: center;
  /*pour centrer les labels*/
  /*On styles les labels pour qu'ils soient ronds, rouges et centrés*/
}

/* line 279, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
#slider #active label {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: red;
  display: inline-block;
  /*pour les aligner et pour qu'ils prennent la width et la height appliquées*/
}

/* line 289, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.ad-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* MOBILE INDEX Advertisement */
}

/* line 293, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.ad-block .advertisement {
  position: relative;
  margin: 0 0.3rem;
  width: 17.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 299, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.ad-block .advertisement .ad-left-part img {
  display: block;
}

/* line 302, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.ad-block .advertisement .ad-left-part img:hover {
  transform: scale(1.1);
}

/* line 307, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.ad-block .advertisement .ad-right-part {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* line 312, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.ad-block .advertisement .ad-right-part h4 {
  margin-bottom: 1rem;
}

/* line 316, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.ad-block .advertisement .ad-right-part p {
  margin-bottom: 1.5rem;
}

/* line 321, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.ad-block .advertisement .stars {
  width: 150px;
  border: 1px solid black;
  padding: 0.2rem;
  vertical-align: bottom;
}

/* line 329, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.ad-block .map {
  width: 300px;
  height: 200px;
  background: yellow;
}

/* line 336, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.commentary {
  margin-top: 1rem;
}

/* END MOBILE INDEX Advertisement */
/*---------- ***** END CAROUSEL ***** ----------*/
/* line 342, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.panel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* line 347, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.panel-container .panel {
  margin: 0.5rem;
  border: 1px solid black;
  width: 416px;
}

/* line 352, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.panel-container .panel img {
  vertical-align: bottom;
}

/* line 356, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.panel-container .panel .pro-links {
  display: inline-block;
  vertical-align: top;
}

/* line 360, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.panel-container .panel .pro-links a {
  display: block;
  margin: 1rem 0;
}

/* line 368, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.text {
  margin-left: 15%;
}

/* line 372, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
aside {
  float: left;
  margin-top: 50px;
  height: 800px;
}

/***** START FOOTER *****/
/* line 380, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
footer img {
  width: 30px;
  height: 30px;
}

/* line 386, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
#footerForm > ul + ul > li {
  text-align: center;
}

/* line 390, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
#footerPayment > ul + ul {
  display: flex;
}

/***** END FOOTER *****/
/****** START STYLE GRID ******/
/* line 396, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
[class^="col-"] {
  float: left;
  padding: 0 15px;
}

/* line 401, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.row:after {
  content: "";
  /*on crée un espace vide*/
  clear: both;
  /*on annule l'effet de float*/
  display: block;
  /*cela permet d'avoir un retour à la ligne*/
}

/* line 409, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.col-mob-1 {
  width: 8.33333%;
}

/* line 409, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.col-mob-2 {
  width: 16.66667%;
}

/* line 409, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.col-mob-3 {
  width: 25%;
}

/* line 409, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.col-mob-4 {
  width: 33.33333%;
}

/* line 409, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.col-mob-5 {
  width: 41.66667%;
}

/* line 409, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.col-mob-6 {
  width: 50%;
}

/* line 409, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.col-mob-7 {
  width: 58.33333%;
}

/* line 409, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.col-mob-8 {
  width: 66.66667%;
}

/* line 409, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.col-mob-9 {
  width: 75%;
}

/* line 409, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.col-mob-10 {
  width: 83.33333%;
}

/* line 409, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.col-mob-11 {
  width: 91.66667%;
}

/* line 409, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.col-mob-12 {
  width: 100%;
}

/****** END STYLE GRID ******/
/****** ACCORDION ******/
/*Margin*/
/* line 417, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.formWrapper > div {
  margin: 4% 0 4% 15%;
}

/*End Margin*/
/* line 426, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}

/* line 434, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.half input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* line 440, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.half label {
  position: relative;
  display: block;
  padding: 0 0 0 16px;
  background: #16a085;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}

/* line 450, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.blue label {
  background: #2980b9;
}

/* line 454, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #1abc9c;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}

/* line 463, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.blue .tab-content {
  background: #3498db;
}

/* line 467, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.tab-content p {
  margin: 16px;
}

/* line 471, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.half input:checked ~ .tab-content {
  max-height: 160px;
}

/********/
/* line 476, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.half label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 48px;
  height: 48px;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

/* line 490, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.half input[type=checkbox] + label::after {
  content: "+";
}

/* line 493, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.half input[type=radio] + label::after {
  content: "\25BC";
}

/* line 497, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.half input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}

/* line 500, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
.half input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}

/****** END ACCORDION ******/
/********************** START STYLES TABLETTE *****************/
@media only screen and (min-width: 640px) {
  /* line 512, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  #overflow {
    width: calc(17.5rem * 2  +  (4* 0.3rem));
  }
  /* line 516, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .menu-nav {
    display: block;
  }
  /***** GEORGE *****/
  /********NAV*******************/
  /* line 522, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  #divLogoForm,
  .payWrapper {
    margin: auto;
  }
  /*hide mobile bar*/
  /* line 528, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .mobile-nav {
    display: none;
  }
  /**PAYMENT**********/
  /* line 533, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  #divLogoPayment > img {
    display: inline-block;
  }
  /*show tablet menu*/
  /* line 538, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  #navheader {
    display: block;
    margin: 2% 0 2% 0;
    border: solid;
  }
  /* line 543, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  #navheader #navheader > ul {
    display: flex;
    justify-content: space-around;
  }
  /* line 547, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  #navheader #navheader > ul li > a {
    text-decoration: none;
  }
  /* line 553, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  #divLogoForm > form {
    position: absolute;
    margin: 2% 0 2% 15%;
  }
  /*****Form*****/
  /* line 559, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .formWrapper > ul > li:nth-child(12) {
    text-align: center;
  }
  /**PAYMENT**********/
  /* line 565, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .payWrapper > ul > li > ul {
    margin-left: 25%;
    list-style-type: none;
  }
  /* line 570, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .payWrapper > div > input {
    margin: 2% 0 2% 50%;
    height: 30px;
  }
  /* line 575, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .payWrapper > ul > li > p:last-child {
    font-size: 1.2rem;
  }
  /* line 581, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  footer ul {
    border-top: solid;
  }
  /* line 585, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  footer ul + ul {
    border-left: solid;
  }
  /* line 589, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  footer > ul:nth-child(1) > li > a {
    text-decoration: none;
  }
  /****Footer*******/
  /* line 596, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  #footerPayment > ul + ul {
    display: block;
  }
  /* line 600, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  #footerPayment > ul + ul > li {
    text-align: center;
  }
  /*END GEORGE*/
  /* line 608, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-m-1 {
    width: 8.33333%;
  }
  /* line 608, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-m-2 {
    width: 16.66667%;
  }
  /* line 608, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-m-3 {
    width: 25%;
  }
  /* line 608, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-m-4 {
    width: 33.33333%;
  }
  /* line 608, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-m-5 {
    width: 41.66667%;
  }
  /* line 608, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-m-6 {
    width: 50%;
  }
  /* line 608, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-m-7 {
    width: 58.33333%;
  }
  /* line 608, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-m-8 {
    width: 66.66667%;
  }
  /* line 608, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-m-9 {
    width: 75%;
  }
  /* line 608, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-m-10 {
    width: 83.33333%;
  }
  /* line 608, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-m-11 {
    width: 91.66667%;
  }
  /* line 608, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-m-12 {
    width: 100%;
  }
}

/****** END STYLES TABLETTE  ****** /

  /****** START STYLES DESKTOP ******/
/*960px*/
@media only screen and (min-width: 960px) {
  /* line 616, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  #overflow {
    width: calc((17.5rem * 3) +  (6* 0.3rem));
  }
  /* line 620, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .header-top {
    display: inline-block;
    position: relative;
  }
  /* line 624, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .header-top #h-logo {
    display: block;
    margin: 0 auto;
  }
  /* line 630, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  #h-banner {
    display: block;
  }
  /*******NAV*********/
  /* line 635, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  #divLogoForm > form {
    display: none;
    position: relative;
  }
  /* line 640, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  #divLogoForm > a > img {
    display: inline-block;
  }
  /* line 644, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  #navheader {
    font-size: 1.5rem;
  }
  /********FORM FOR DESKTOP **********/
  /* line 649, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  #navheader,
  .formWrapper > ul > li > label,
  .formWrapper > ul > li > p,
  .formWrapper > ul > li > span,
  .formWrapper h1 {
    font-size: 1.5rem;
  }
  /* line 657, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .formWrapper > ul > li input {
    height: 25px;
  }
  /* line 661, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .formWrapper > ul > li > label,
  .formWrapper > ul > li > p {
    text-align: right;
  }
  /* line 666, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .formWrapper h1 {
    text-align: center;
  }
  /*******FOOTER************/
  /* line 671, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  #footerForm {
    font-size: 1.2rem;
  }
  /* line 677, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-1 {
    width: 8.33333%;
  }
  /* line 677, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-2 {
    width: 16.66667%;
  }
  /* line 677, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-3 {
    width: 25%;
  }
  /* line 677, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-4 {
    width: 33.33333%;
  }
  /* line 677, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-5 {
    width: 41.66667%;
  }
  /* line 677, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-6 {
    width: 50%;
  }
  /* line 677, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-7 {
    width: 58.33333%;
  }
  /* line 677, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-8 {
    width: 66.66667%;
  }
  /* line 677, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-9 {
    width: 75%;
  }
  /* line 677, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-10 {
    width: 83.33333%;
  }
  /* line 677, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-11 {
    width: 91.66667%;
  }
  /* line 677, C:/Users/Kevin/Desktop/TP-index-Kevin-George/sass/main.scss */
  .col-12 {
    width: 100%;
  }
}

/****** END STYLES DESKTOP ******/

/*# sourceMappingURL=../css/main.map */