// ---- COLORS-----//
$main-color : #f49a02;
$nav-color: #fff;
$footer-color-1: #68420a;
$footer-color-2: #d12600;

// ---- WIDTH AND MARGINS
$advertisement-width: 17.5rem;
$advertisement-margin: 0.3rem;
$advertisement-stars-width: 150px;
$panel-width: 416px;

// ----
$logo-width : 72px;
$banner-width : 690px;
$language-width : 85px;
$header-form-li-margin-left-right: 5px;
$header-input: 135px;


/***** START FLEX METHODS *****/
@mixin flex() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-wrap() {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@mixin justify-content($position) {
    -webkit-box-pack: $position;
    -ms-flex-pack: $position;
    justify-content: $position;
}
/***** END FLEX METHODS *****/

/***** START TRANSITIION *****/
@mixin transition($property, $duration, $timing-function) {
    -webkit-transition: $property, $duration, $timing-function;
    -o-transition: $property, $duration, $timing-function;
    transition: $property, $duration, $timing-function;
}
/***** END TRANSITIION *****/

  *{
    padding: 0;
    margin:	0;
    outline: 0;
    font-size: 100%;
    box-sizing: border-box;
  }

  main {
    float: left
  }

  ul {
    list-style-type: none;
  }

  header {
    margin-bottom: 50px;
  }

  article, aside, details, figcaption, figure, footer, header, main, nav, section {display: block; }

  /******************* TEST CSS using COLORS *******************/
  .blue {background-color: blue;}
  .red {background-color: red; }
  .panel {background-color:purple;}
   aside {background-color: red;  }

  /******  START HEADER   ******/
  #h-banner {
    display: none;
  }

  header {
    nav {
      background-color: $main-color;
      float: right;
      width: 85%;
      padding: 0.5rem;
      min-width: 640px;

      #nav-menu {
        display: flex;
        width: 100%;
        height: 40px;

        li {
          margin: auto $header-form-li-margin-left-right;
        }

        #h-login {
          //width: calc(#{$header-input} + (#{$header-form-li-margin-left-right} * 2) * 3);
          display: flex;

          li input {
            width: $header-input;
          }
        }
      }
    }
  }

  .menu-nav {
    display: block;
  }

  #search-bars {
    margin-left: 2rem;

    .bar {
      width: 80%;
      height:35px;
      margin-top:10px;
    }

    .bar-list {
      position: relative;
      left:30px;
      bottom:15px;
    }

    & > input[type="image"] {
      position: absolute;
    }
  }
  /******  END HEADER   ******/

  /******  START FORM CSS   ******/
  /**************************************NAV************************************************************************************/

  /***** CHANGES *****/
  #logoForm {
    width:50px;
    height:50px;
  }

  .mobile-nav {
    margin: 2% 0 2% 0;
    background-color: orange;
    padding: 2%;
    border-radius: 5px;
  }

  .menu-btn span {
    width: 50px;
    height:3px;
    display:block;
    background-color:white;
    margin:8px;
  }

  /*margin among lines*/
  .formWrapper > ul > li,
  .formWrapper > h1,
  .payWrapper > ul > li,
  .payWrapper > ul > li > ul > li {
    margin: 2% 0 2% 0;
  }

  .formWrapper > ul > li > label,
  .formWrapper > ul > li > p,
  .formWrapper > ul > li > span,
  .payWrapper > ul > li {
    font-weight:bold;
  }

  /*********PAYMENT**********/
  .payWrapper {
    img{
      width: 25px;
      height:25px;
    }

    & > ul > li > p:last-child {
      font-size:1.2rem;
    }
  }

  footer ul:first-child {
    list-style-type: disc;
  }
  /****** END FORM CSS   ******/

  /*---------- ***** START CAROUSEL ***** ----------*/
  #overflow {
    overflow: hidden; /*permet de cacher les 4 autres diapositives qui dépassent*/
    width: calc(#{$advertisement-width}  + ( 2 * #{$advertisement-margin}));
    margin: auto;
  }

  #slider {
    /*On cache les inputs*/
    input[type="radio"] {
      display: none;
    }

    #slides {
      margin: 1rem 0px;

      /*La div inner a la somme des largeurs des 5 diapositives (500%).*/
      .inner {
        width: calc(#{$advertisement-width}*7 +  (14* #{$advertisement-margin}));
        margin: 0 auto;

        /* Transition sur div .inner pour défiler les diapositives en une seconde*/
        @include transition(margin-left, 1s, ease-in-out);
      }
    }

    #slide1:checked ~ #slides .inner {
      margin-left: 0;
    }

    #slide2:checked ~ #slides .inner {
      margin-left: calc(-1 * #{$advertisement-width} + (2* #{$advertisement-margin}));
    }

    #slide3:checked ~ #slides .inner {
      margin-left: calc(-1 * (#{$advertisement-width} * 2  + (4* #{$advertisement-margin})));
    }

    #slide4:checked ~ #slides .inner {
      margin-left: calc(-1 * (#{$advertisement-width} * 3  + (6* #{$advertisement-margin})));
    }

    #active {
      text-align:center; /*pour centrer les labels*/;

      /*On styles les labels pour qu'ils soient ronds, rouges et centrés*/
      label {
        width:10px;
        height:10px;
        border-radius:5px;
        background-color:red;
        display:inline-block; /*pour les aligner et pour qu'ils prennent la width et la height appliquées*/
      }
    }
  }

  .ad-block {
    @include flex();

    /* MOBILE INDEX Advertisement */
    .advertisement {
      position: relative;
      margin: 0 $advertisement-margin;
      width: $advertisement-width;
      @include flex();

      .ad-left-part img {
        display: block;

        &:hover {
          transform: scale(1.1);
        }
      }

      .ad-right-part {
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        h4 {
          margin-bottom: 1rem;
        }

        p {
          margin-bottom: 1.5rem;
        }
      }

      .stars {
        width: $advertisement-stars-width;
        border: 1px solid black;
        padding: 0.2rem;
        vertical-align: bottom;
      }
    }

    .map {
      width: 300px;
      height: 200px;
      background: yellow;
    }
  }

  .commentary {
    margin-top: 1rem;
  }
  /* END MOBILE INDEX Advertisement */

  /*---------- ***** END CAROUSEL ***** ----------*/
  .panel-container {
    @include flex();
    @include flex-wrap();
    @include justify-content(center);

    .panel {
      margin: 0.5rem;
      border: 1px solid black;
      width: $panel-width;

      img {
        vertical-align: bottom;
      }

      .pro-links {
        display: inline-block;
        vertical-align: top;

        a {
          display: block;
          margin: 1rem 0;
        }
      }
    }
  }

  .text {
    margin-left: 15%;
  }

  aside {
    float:left;
    margin-top:50px;
    height:800px;
  }

  /***** START FOOTER *****/
  footer {
    img {
      width: 30px;
      height: 30px;
    }
  }

  #footerForm > ul + ul > li {
      text-align: center;
  }

    #footerPayment > ul + ul {
        display: flex;
    }
    /***** END FOOTER *****/

    /****** START STYLE GRID ******/
    [class^="col-"]{
      float:left;
      padding:0 15px;
    }

    .row:after {
      content: ""; /*on crée un espace vide*/
      clear: both; /*on annule l'effet de float*/
      display: block; /*cela permet d'avoir un retour à la ligne*/
    }

    @for $i from 1 through 12 {
      $width: percentage($i/12);
      .col-mob-#{$i} { width: $width; }
    }
    /****** END STYLE GRID ******/

/****** ACCORDION ******/

        /*Margin*/

        .formWrapper>div{


          margin: 4% 0 4% 15%;

        }


        /*End Margin*/
        .tab {
          position: relative;
          margin-bottom: 1px;
          width: 100%;
          color: #fff;
          overflow: hidden;
        }

        .half input {
          position: absolute;
          opacity: 0;
          z-index: -1;
        }

        .half label {
          position: relative;
          display: block;
          padding: 0 0 0 16px;
          background: #16a085;
          font-weight: bold;
          line-height: 3;
          cursor: pointer;
        }

        .blue label {
          background: #2980b9;
        }

        .tab-content {
          max-height: 0;
          overflow: hidden;
          background: #1abc9c;
          -webkit-transition: max-height .35s;
          -o-transition: max-height .35s;
          transition: max-height .35s;
        }

        .blue .tab-content {
          background: #3498db;
        }

        .tab-content p {
          margin: 16px;
        }

        .half  input:checked ~ .tab-content {
          max-height: 160px;
        }

        /********/
        .half label::after {
          position: absolute;
          right: 0;
          top: 0;
          display: block;
          width: 48px;
          height: 48px;
          line-height: 3;
          text-align: center;
          -webkit-transition: all .35s;
          -o-transition: all .35s;
          transition: all .35s;
        }

        .half input[type=checkbox] + label::after {
          content: "+";
        }
        .half input[type=radio] + label::after {
          content: "\25BC";
        }

        .half input[type=checkbox]:checked + label::after {
          transform: rotate(315deg);
        }
        .half input[type=radio]:checked + label::after {
          transform: rotateX(180deg);
        }



        /****** END ACCORDION ******/


    /********************** START STYLES TABLETTE *****************/

    @media only screen and (min-width:640px){
      #overflow{
        width: calc(#{$advertisement-width} * 2  +  (4* #{$advertisement-margin}));
      }

      .menu-nav {
        display: block;
      }

      /***** GEORGE *****/
      /********NAV*******************/
      #divLogoForm,
      .payWrapper {
        margin:auto;
      }

      /*hide mobile bar*/
      .mobile-nav {
        display:none;
      }

      /**PAYMENT**********/
      #divLogoPayment > img {
        display:inline-block;
      }

      /*show tablet menu*/
      #navheader {
        display:block;
        margin: 2% 0 2% 0;
        border:solid;

        #navheader > ul {
          display:flex;
          justify-content:space-around;

          & li > a {
            text-decoration:none;
          }
        }
      }

      #divLogoForm > form {
        position:absolute;
        margin: 2% 0 2% 15%;
      }

      /*****Form*****/
      .formWrapper > ul > li:nth-child(12) {
        text-align:center;
      }

      /**PAYMENT**********/
      .payWrapper {
        & > ul > li > ul {
          margin-left:25%;
          list-style-type: none;
        }

        & > div > input {
          margin:2% 0 2% 50%;
          height:30px;
        }

        & > ul > li > p:last-child {
          font-size:1.2rem;
        }
      }

      footer {
        ul {
          border-top:solid;
        }

        ul + ul {
          border-left:solid;
        }

        & > ul:nth-child(1) > li > a {
          text-decoration:none;
        }
      }

      /****Footer*******/
      #footerPayment {
        & > ul + ul {
          display: block;
        }

        & > ul + ul > li {
          text-align:center;
        }
      }
      /*END GEORGE*/

      @for $i from 1 through 12 {
        $width: percentage($i/12);
        .col-m-#{$i} { width: $width; }
      }

    }/****** END STYLES TABLETTE  ****** /

  /****** START STYLES DESKTOP ******/
/*960px*/
    @media only screen and (min-width:960px){
      #overflow {
        width: calc((#{$advertisement-width} * 3) +  (6* #{$advertisement-margin}));
      }

      .header-top {
        display:inline-block;
        position:relative;

        #h-logo {
          display: block;
          margin: 0 auto;
        }
      }

      #h-banner {
        display: block;
      }

      /*******NAV*********/
      #divLogoForm > form{
        display:none;
        position:relative;
      }

      #divLogoForm > a > img{
        display:inline-block;
      }

      #navheader{
        font-size:1.5rem;
      }

      /********FORM FOR DESKTOP **********/
      #navheader,
      .formWrapper > ul > li > label,
      .formWrapper > ul > li > p,
      .formWrapper > ul > li > span,
      .formWrapper h1 {
        font-size:1.5rem;
      }

      .formWrapper > ul > li input{
        height: 25px;
      }

      .formWrapper > ul > li > label,
      .formWrapper > ul > li > p {
        text-align: right;
      }

      .formWrapper h1{
        text-align: center;
      }

      /*******FOOTER************/
      #footerForm {
        font-size:1.2rem;
      }

      @for $i from 1 through 12 {
        $width: percentage($i/12);
        .col-#{$i} { width: $width; }
      }
  }
/****** END STYLES DESKTOP ******/
